.experiences-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .experience {
    display: flex;
    align-items: center;
    &-dates {
      min-width: 180px;
      align-self: flex-start;
    }
    &-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      &_skills {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: $big-gap;
        margin-top: $big-gap;
        &-items {
          border: 2px solid black;
          border-radius: $br;
          padding: 8px;
          transition: all ease-in-out 0.2s;
          &:hover {
            border: 2px solid black;
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}
